/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
*/
*{
  margin: 0;
  padding: 0;
}

/* BODY */
  body{
    font-family: 'Open Sans', sans-serif;
    min-height: 1000px;
    background: url(img/c.png);
    background-attachment: fixed;
    background-repeat: repeat;
  }

/*PG*/
  .pg{

  }
    .pg .verMAisbottom{
      margin: 20px;
      text-align: center;
    }
      .pg  .alm-load-more-btn.more.done{
        font-family: 'Roboto Slab', serif;
        font-weight: 405;
        color: #000;
        font-size: 19px;
        padding: 10px 20px;
        border: solid 3px #000;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #fff;
      }
        .pg  .alm-load-more-btn.more.done:hover{
          background: #000;
          color: #fff;
        }
    .pg .tituloSessao{
      padding-bottom: 50px;
      border-top: solid #ccc 1px;
    }
  .pesquisar{
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
    height: 0px;
    overflow: hidden;
    transition: all linear .5s;
    -webkit-transition: all linear .5s ;
    -moz-transition: all linear .5s ;
    -o-transition: all linear .5s ;
    position: relative;
  }
  .pesquisar input{
    opacity: 0;
    transition: all linear .5s;
    -webkit-transition: all linear .5s ;
    -moz-transition: all linear .5s ;
    -o-transition: all linear .5s ;
  }
  .abrirPesquisar{
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
    box-shadow: 1px 1px 1px #ccc;
    height: 125px;
    overflow: hidden;
    transition: all linear .5s;
    -webkit-transition: all linear .5s ;
    -moz-transition: all linear .5s ;
    -o-transition: all linear .5s ;
  }
  .abrirPesquisar input{
    opacity: 1;
    transition: all linear .5s;
    -webkit-transition: all linear .5s ;
    -moz-transition: all linear .5s ;
    -o-transition: all linear .5s ;
  }
  .pesquisar input::-webkit-input-placeholder  { 
    color:#ccc; 
    font-size: 40px;
    font-family: 'Roboto Slab', serif;

  }
  .pesquisar input[type="text"]{
    border: 0;
    outline: 0;
    width: 587px;
    height: 72px;
    color:#ccc; 
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
  }
  .pesquisar input[type="submit"]{
    color: transparent;
    border: 0;
    height: 40px;
    width: 40px;
    background: url(img/Group3x.png);
    background-size: cover!important;
    background-position: center!important;
    outline: none;
    position: absolute;
    right: 30px;
    top: 41px;
  }

  .abrir {
    height: 125px;
  }

/* TOPO */
  .topo{
    min-height: 120px;
    display: block;
    width: 100%;
    height: auto;
    background-position: center!important;
    background-size: cover!important;
    position: relative;
   
  }
  header{

  }
    .topo .logo{

    }
      .topo .logo a{
        
      }
        .topo .logo img{
          margin: 20px auto;
          max-width: 150px;
          display: block;
          height: auto;
        }
    .topo .navbar{
      margin: 0
    }
      .topo .navbar button{
        display: none;
        border: 1px solid #fff;
        margin: 0 20px;
      } 
        .topo .navbar button span{
          background: #fff;

        }  
      .topo .navbar .navbar-header{
        float: initial;
        width: 100%;
        padding-right: 50px;
      } 

    .topo .areaPesquisa{
      width: 30px;
      height: 30px;
      position: absolute;
      right: 55px;
      z-index: 9;
      bottom: 35px;
      
    }
    .topo #lupa {
      width: 30px;
      border: none;
      height: 30px;
      display: block;
      background: url(img/Group8.png);
      color: transparent;
      background-repeat: no-repeat;
      background-position: center!important;
      position: absolute;
      outline: none;
    }
    .topo #spanAbrirPesquisa {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      z-index: 999;
      display: block;
    }
        .topo .navbar .navbar-header nav{
          border-top: initial;
          -webkit-box-shadow: initial;
          box-shadow: initial;
        }  
          .topo .navbar .navbar-header nav ul{
            float: initial;
            width: 100%;
            text-align: right;
            margin-top: 40px;
            font-size: 0;
          } 
            .topo .navbar .navbar-header nav ul li{
              float: initial;
              display: inline-block;
            }
              .topo .navbar .navbar-header nav ul li a{
                font-family: 'Roboto Slab', serif;
                font-size: 24px;
                color: #fff;
                margin: 0 5px;
                font-weight: 200;
                border-bottom: solid transparent 2px; 
                transition:All .5s ease;
                -webkit-transition:All .5s ease;
                -moz-transition:All .5s ease;
                -o-transition:All .5s ease;  
              }
              .topo .navbar .navbar-header nav ul li .pesquisar{
                font-family: 'Roboto Slab', serif;
                font-size: 20px;
                color: #fff;
                margin: 0 5px;
                font-weight: 200;
                border-bottom: solid transparent 2px; 
                transition:All .5s ease;
                -webkit-transition:All .5s ease;
                -moz-transition:All .5s ease;
                -o-transition:All .5s ease;  
              }
                .topo .navbar .navbar-header nav ul li a:focus{
                  background: transparent!important;
                }
                .topo .navbar .navbar-header nav ul li a:active{
                  background: transparent!important;
                }
                .topo .navbar .navbar-header nav ul li a:hover{
                  background: transparent!important;
                  border-bottom: solid #fff 2px;   
                  transition:All .5s ease;
                  -webkit-transition:All .5s ease;
                  -moz-transition:All .5s ease;
                  -o-transition:All .5s ease;
                }
    
    .logo-fixo{
      margin: 0 auto;
      max-width: 89px;
      display: block;
      height: auto;
    }
    .menu-fixo {
        width: 100%;
        height: 50px;
        background: #000;
        position: fixed;
        top: 0;
        z-index: 9;
        display: block;
        background-color: #000;
    }
    .menu-fixo .navbar-desktop{
      font-family: 'Roboto Slab', serif;
    }
    .menu-fixo .navbar-desktop > li {
      display: inline-block;

    }
      .menu-fixo .navbar-desktop > li > a {
        color: #FFF;
        font-size: 17px;
        padding: 14px 27px;
        text-transform: uppercase;
      }
      .menu-fixo .navbar-desktop > li > a:hover{
        color:#000;
        background: #fff;
        transition: ALL .3s ease;
        -webkit-transition:ALL .3s ease;
        -moz-transition:ALL .3s ease;
        -o-transition:ALL .3s ease;
      }

/*PÁGINA INICIAL*/
  .pg-inicial{
    margin-top: 25px;
  }
    .pg-inicial .redesFixas {
      display: none;''
      width: 40px;
      position: fixed;
      left: 1%;
      top: 84px;
      z-index: 999;
    }
      .pg-inicial .redesFixas .fixas{

      }
        .pg-inicial .redesFixas .fixas a {
          display: block;
          background: #000;
          color:#fff;
          text-align: center;
          width: 35px;
          height:35px;
          border-radius: 100%;
          position: relative;
          margin: 0 6px;
          border:1px solid transparent;
          margin-bottom: 10px;
        } 
        .pg-inicial .redesFixas .fixas a:hover{
          transition: all linear .3s;
          background: #fff;
          border: 1px solid #000;
          color: #000;
        }
          .pg-inicial .redesFixas .fixas a i {
            font-size: 18px;
            margin: 8px auto 0px auto;
            text-align: center;
          }
    .pg-inicial .carrosselDestaque .item{
        border:solid 5px #fff;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
    }
      .pg-inicial .carrosselDestaque .item figure{
        display: block;
        height: 500px;
        background-position: center!important;
        background-size: cover!important;
        border-radius: 2px;
        border: solid 1px #ddd;
        transition:All .1s ease;
        -webkit-transition:All .1s ease;
        -moz-transition:All .1s ease;
        -o-transition:All .1s ease;
      }
        .pg-inicial .carrosselDestaque .item figure:hover{
          margin: 0;
          transform: scale(1.1);
          transition:All .1s ease;
          -webkit-transition:All .1s ease;
          -moz-transition:All .1s ease;
          -o-transition:All .1s ease;
        }
        .pg-inicial .carrosselDestaque .item a{
    
        }
          .pg-inicial .carrosselDestaque .item a h2{
            color: #fff;
            font-size: 25px;
            background: #000000d4;
            padding: 20px 0;
            font-family: 'Roboto Slab', serif;
            font-weight: 100;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            margin: 0;
            text-align: center;
          }
  .pg-inicial .carrosselCategorias{
    margin-top: 25px;
  }
  .pg-inicial .carrosselCategorias .owl-stage-outer {
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 20px;
  }

  /* BARRA DE ROLAGE */
  .pg-inicial .carrosselCategorias .owl-stage-outer::-webkit-scrollbar{
    
  }
  .pg-inicial .carrosselCategorias .owl-stage-outer::-webkit-scrollbar-track {

  }
  .pg-inicial .carrosselCategorias .owl-stage-outer::-webkit-scrollbar-track-piece  {
    background: #0000001f;
    border: solid 1px  #0000003f;
  }
  /*.pg-inicial .carrosselCategorias .owl-stage-outer::-webkit-scrollbar-button{
    background: red;
    color:#fff;
  }*/
  .pg-inicial .carrosselCategorias .owl-stage-outer::-webkit-scrollbar-thumb {
      background: #000000;
  }
    .pg-inicial .carrosselCategorias figure{
      display: block;
      width: 100%;
      height: auto;
      max-height: 258px;
      position: relative;
      padding: 1px;
      overflow: hidden;
    }

    .pg-inicial .carrosselCategorias figure a:before {
      content: '';
      display: block;
      width: 90%;
      min-height: 90%;
      position: absolute;
      z-index: 99;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: solid 2px #fff;
      opacity: 0;
      transition:All .1s ease;
      -webkit-transition:All .1s ease;
      -moz-transition:All .1s ease;
      -o-transition:All .1s ease;
    }
      .pg-inicial .carrosselCategorias figure a:hover:before{
        opacity: 1;
        transition:All .1s ease;
        -webkit-transition:All .1s ease;
        -moz-transition:All .1s ease;
        -o-transition:All .1s ease;
      } 
      .pg-inicial .carrosselCategorias figure img{
        display: block;
        width: 100%;
        height: auto;
        min-height: 258px;
        transition:All .1s ease;
        -webkit-transition:All .1s ease;
        -moz-transition:All .1s ease;
        -o-transition:All .1s ease;
      }
        .pg-inicial .carrosselCategorias figure:hover img{
         transform: scale(1.1);
        transition:All .1s ease;
        -webkit-transition:All .1s ease;
        -moz-transition:All .1s ease;
        -o-transition:All .1s ease;
        }
      .pg-inicial .carrosselCategorias figure a h2{
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: #000;
        font-size: 17px;
        padding: 10px;
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
        text-align: center;
      }
  .pg-inicial .menuCategorias {
    width: 100%;
    max-width: 1138px;
    min-height: 50px;
    margin: 38px auto 26px auto;
  }
    .pg-inicial .menuCategorias a{
      display: inline-block;
      width: 100%;
      max-width: 281px;
      min-height: 50px;
      margin-top: 5px;
      background: #000;
      text-align: center;
      text-decoration: none;
      padding-top: 10px;
      border: 1px solid #000;

      /* ATRIBUTOS DO TEXTO PRESENTE NO BOTAO */
      color:#FFF;
      font-family: 'Roboto Slab', serif;
      font-size: 17px;
      vertical-align: top;  
      text-transform: uppercase;

      /*****************************************/
    }
    .pg-inicial .menuCategorias a:hover{
      background: #fff;
      color:#000;
      border: 1px solid #000;
      transition:all linear .3s ;
      -webkit-transition:all linear .3s;
      -moz-transition:all linear .3s;
      -o-transition:all linear .3s;
    }

      .pg-inicial .menuCategorias a figure{
        display: inline-block;
        width: 20px;
        height: 30px;
        background-position: center!important;
        background-size: cover!important;
        margin-right: 21px;
        vertical-align: top;
        -webkit-filter: brightness(0) invert(1);
        -moz-filter: brightness(0) invert(1);
        -o-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }
      .pg-inicial .menuCategorias a:hover figure{
        -webkit-filter: initial;
        filter: initial;
      }
        .pg-inicial .menuCategorias a figure img{
          visibility: hidden;
          width: 34px;
          height: 60px;
        }



  .pg-inicial .areaPost{
    margin-top: 35px;
  }
    .pg-inicial .areaPost ul{
      list-style: none;
      padding: 0;
    }
      .pg-inicial .areaPost ul li{
        display: inline-block;
        width: 47.7%;
        background: #000;
        text-align: center;
        padding-bottom: 20px;
        vertical-align: top;
        margin: 0 13px 16px;
      }
        .pg-inicial .areaPost ul li a{
          text-decoration: none;
        }
        .pg-inicial .areaPost ul li .linkPostFoto{
          height: 370px;
          height: 320px;
          display: block;
          overflow: hidden;
        }
      .pg-inicial .areaPost ul li.correcaoLeft{
        margin-right: 2.6%;
      }
        .pg-inicial .areaPost ul li a{ 
          text-decoration: none;
         
        }
          .pg-inicial .areaPost ul li figure{ 
            display: block;
            width: 100%;
            height: 370px;
            height: 320px;
            background-position: center!important;
            background-size: cover!important;
          }
          .pg-inicial .areaPost ul li figure:hover{ 
            transform: scale(1.1);
          }
            .pg-inicial .areaPost ul li.correcaoLeft figure{
              height: 320px;
              position: relative;
              transition:All .5s ease;
              -webkit-transition:All .5s ease;
              -moz-transition:All .5s ease;
              -o-transition:All .5s ease;
            }
            .pg-inicial .areaPost ul li figure:before{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
              .pg-inicial .areaPost ul li figure:hover:before{
                opacity: 1;
                background: #ffffff69;
                transition:All .5s ease;
                -webkit-transition:All .5s ease;
                -moz-transition:All .5s ease;
                -o-transition:All .5s ease;
              }
            .pg-inicial .areaPost ul li figure img{ 
              display: block;
              width: 100%;
              height: auto;  
            }
          .pg-inicial .areaPost ul li article{ 
          
            padding: 10px;
          }
            .pg-inicial .areaPost ul li article h3{ 
              margin: 0;
              color: #fff;
              font-family: 'Roboto Slab', serif;
              display: inline-block;
              text-transform: uppercase;
              font-size: 13px;
              font-weight: 200;
            }
            .pg-inicial .areaPost ul li article span{ 
              display: inline-block;
              color: #fff;
              font-family: 'Roboto Slab', serif;
              text-transform: uppercase;
              font-size: 13px;
              font-weight: 200;
            }

            .pg-inicial .areaPost ul li article h2{ 
              margin: 0;
              color: #fff;
              font-family: 'Roboto Slab', serif;
              font-size: 27px;
              padding: 10px 0;
              min-height: 60px;
            }
            .pg-inicial .areaPost ul li article p{ 
              color: #fff;
              font-family: 'Roboto Slab', serif;
              font-size: 17px;
              font-weight: 100;
              line-height: 20px;
              min-height: 65px;
            }
          .pg-inicial .areaPost ul li .redesSociais{ 
            text-align: center;
            padding-top: 10px;
          }
            .pg-inicial .areaPost ul li .redesSociais i{ 
              font-size: 30px;
              color: #575757;
              margin: 0 10px;
            }
              .pg-inicial .areaPost ul li .redesSociais i:hover{
                color: #fff;
              }
          .pg-inicial .areaPost ul li .lerMais{ 
            border: solid #4d4d4d;
            color: #fff;
            padding: 10px;
            display: block;
            text-align: center;
            margin: 0 auto;
            width: 140px;
            height: 50px;
            line-height: 25px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 100;
            font-family: 'Roboto Slab', serif;
          }
            .pg-inicial .areaPost ul li .lerMais:hover {
              background: #fff;
              border-color: #fff;
              color: #000;
              font-weight: 500;
            }

/*PÁGINA DE POST*/
  .pg-post{
    background: #fff;
  }
    .pg-post .tituloPost{
      text-align: center;
      color:#000;
      text-align: center;
      font-family: 'Roboto Slab', serif;
    }
      .pg-post .tituloPost h3{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 200;
        margin: 56px 0px 6px 0px;
      }
      .pg-post .tituloPost h1{
        color: #000;
        margin: 0;
        font-weight: 500;
      }
      .pg-post .tituloPost span{
        margin-top: 5px;
        display: block;
        color:#000;
        font-size: 18px;
        font-weight: 200;
      }
    .pg-post figure{
      margin-top: 40px;
      width: 100%;
      min-height: 200px;
      background-position: center!important;
      background-size: cover!important;
    }
      .pg-post figure img{
        visibility: hidden;
        width: 100%;
        height: auto;
      }
    .pg-post .textoPost{
      padding: 30px 20px 0 20px
    }
      .pg-post .textoPost p{
        font-family: 'Roboto Slab', serif;
        color: #585858;
        font-size: 20px;
        text-align: left;
      }
        .pg-post .textoPost p img{
          width: 100%;
          height: auto;
        }
    .pg-post .compartilhar {
      position: fixed;
      top: 50%;
      right: 1%;
      z-index: 999;
    } 
      .pg-post .compartilhar .balao-compartilhar{
        width: 131px;
        height: 76px;
      }
        .pg-post .compartilhar small {
           background: url(img/balao.png);
           background-position: center !important;
           background-size: cover!important;
           display: none;
            width: 137px;
            height: 75px;
        }
      .pg-post .compartilhar span{
        width: 50px;
        height: 50px;
        background-color: #000;
        display: block;
        border-radius: 100%;
        text-align: center;
        line-height: 49px;
        color: #fff;
        font-size: 22px;
        margin-top: 3px;
        position: absolute;
        right: 11px;
        cursor: pointer;
      }
    .pg-post .compartilhar .links-compartilhamento{
      width: 131px;
      height: 43px;
      background: #fff;
      position: absolute;
      bottom: -49px;
      border: 1px solid #000;
      left: -48px;
      text-align: center;
      padding-top: 4px;
      display: none;
    }
      .pg-post .compartilhar .links-compartilhamento a{
        text-align: center;
        color: #fff;
        font-size: 23px;
        text-decoration: none;
        color:#000;
        padding: 0 4px;
      }
    .pg-post .autor{
      width: 100%;
      height: 435px;
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
      padding-top: 30px;
      border-bottom: 3px solid #000;
    }
      .pg-post .autor img{
        width: 200px;
        height: 200px;
        border-radius: 100%;

      }
      .pg-post .autor h2{
        color:#000;
        font-weight: 500;
        font-family: 'Roboto Slab', serif;  
      }
      .pg-post .autor span{
        margin-top: 10px;
        display: block;
        color:#5858586e;
        font-size: 22px;
        font-weight: 100;
      }
      .pg-post .autor .redesSociais{
        margin-top: 20px;
      }
        .pg-post .autor .redesSociais a{
          background: #000;
          color:#fff;
          text-align: center;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          display: inline-block;
          position: relative;
          margin: 0 6px;
          border:1px solid transparent;
        }
        .pg-post .autor .redesSociais a:hover{
          transition: all linear .3s;
          background: #fff;
          border:1px solid #000;
          color: #000;
        }
          .pg-post .autor .redesSociais a i{
            font-size: 20px;
            padding-top: 27%;
          }
    .pg-post .disqus {
      width: 100%;
      max-width: 900px;
      margin: 50px auto;
    }
    .pg-post .leiaMais {
      width: 300px;
      height: 30px;
      margin: 25px auto;
      text-align: center;
      color: #000;
      font-size: 26px;
      font-family: 'Roboto slab', serif;
    }
      .pg-post .leiaMais span {

      }
    .pg-post .categorias{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      font-family: 'Roboto Slab', serif;
      margin-top: 50px;
      border-bottom: 1px solid #9c9696;
      margin-bottom: 30px;
    }

      .pg-post .categorias .posts ul{
        padding-top: 10px;
        list-style: none;
        text-align: center;
      }
        .pg-post .categorias .posts ul li {
          list-style: none;
          display: inline-block;
          border: 5px solid transparent;
          width: 100%;
          max-width: 310px;
          vertical-align: top;
          padding: 0;
        }
          .pg-post .categorias .posts ul li a{
            text-decoration: none;
            overflow: hidden;
          } 
          .pg-post .categorias .posts ul li a .imagemCarrossel {
            margin-top: 0;
            position: relative;
            background-position: center!important;
            background-size: cover!important;
            display: block;
            width: 100%;
            height: auto;
            position: relative;
          }
          .pg-post .categorias .posts ul li a figure:before{
            content:'';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            display: block;
            background:#04040452;
            z-index: 1;
            opacity: 0;
          }
            .pg-post .categorias .posts ul li a figure .leiaMais{
              display: block;
              opacity: 0;
              width: 100%;
              max-width: 105px;
              height: 40px;
              padding-top: 9px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              text-align: center;
              margin: 0 auto;
              z-index: 8;
              color: #fff;
              text-transform: uppercase;
              font-family: 'Roboto Slab', serif;
              border: 2px solid #fff;
            }
            .pg-post .categorias .posts ul li:hover{
              border: 5px solid #000;
              border-radius: 3px;
              transition: all linear .3s;
            }
            .pg-post .categorias .posts ul li a:hover figure:before{
              opacity: 1;
              transition: all linear .3s;
              -webkit-transition: all linear .3s;
              -moz-transition: all linear .3s;
              -o-transition: all linear .3s;
            }
            .pg-post .categorias .posts ul li a:hover .leiaMais {
              opacity: 1;
              transition: all linear .3s;
              -webkit-transition: all linear .3s;
              -moz-transition: all linear .3s;
              -o-transition: all linear .3s;
              color:#fff;
              background: #000;
                  font-size: 14px;

              border: 2px solid #fff;
            }
            .pg-post .categorias .posts ul li a figure img{
              width: 100%;
              min-height: 148px;
              display: block;
              max-width: 330px
            } 
            .pg-post .categorias .posts ul li a img:hover{
              border-radius: 3px;
            }
            .pg-post .categorias .posts ul li a article {
              text-align: center;
              background: #000;
            }
              .pg-post .categorias .posts ul li a article span{
                display: inline-block;
                color: #fff;
                font-family: 'Roboto Slab', serif;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 200;
              }
              .pg-post .categorias .posts ul li a article h2{
                margin: 0;
                color: #fff;
                font-family: 'Roboto Slab', serif;
                font-size: 20px;
                padding: 10px 0;
                min-height: 70px;
              }
              .pg-post .categorias .posts ul li a article p{
                color: #fff;
                font-family: 'Roboto Slab', serif;
                font-size: 17px;
                font-weight: 100;
                line-height: 20px;
                min-height: 80px;
                margin: 0;
              }
      .nav-tabs > li.active > a, 
      .nav-tabs > li.active > a:hover, 
      .nav-tabs > li.active > a:focus {
        color: #000!important;
        font-weight: 500;
        background-color: #fff!important;
        cursor: pointer;
        border:0;
        border-bottom: 5px solid #000!important;
        transition: all linear .3s;
      }
      .pg-post .categorias ul{
        border-bottom: 0;
        text-align: center;
      }
        .pg-post .categorias ul li {
          text-align: center;
          float: initial;
          display: inline-block;
        }
          .pg-post .categorias ul li .nomeCategorias{
            font-size: 20px;
            color: #8D8D8A;
            text-decoration: none;
            text-transform: uppercase;
            border-bottom: 5px solid #8D8D8A;
          } 
      .pg-post .categorias .tab-content{

      }
        .pg-post .categorias .tab-pane {
        }   
          .pg-post .categorias .tab-pane .posts{
            text-align: left;
          }    
    
          .nav-link {
            border: 0;
          }
          .nav-link.active {
            border: 0;
          }

/*PÁGINA DE CATEGORIAS*/
  .pg-categorias{
    background: #ffffff;
  }
  .pg-categorias .resultadoPesquisa {
    font-size: 34px;
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid #ccc;
    font-family: 'Roboto Slab', serif;
    box-shadow: 1px 1px 1px #ccc;
  }
  .pg-categorias .banner{
    width: 100%;
    max-width: 1095px;
    margin: 0 auto;
    height: auto;
    padding-top: 100px;
  }
    .pg-categorias .banner img{
      width: 100%;
      height: auto;
    }
    .pg-categorias nav{
      width: 100%;
      text-align: center;
      margin-top: 50px;
    }
      .pg-categorias nav a{
        text-decoration: none;
        text-transform: uppercase;  
        color:#8d8d8d;
        font-size: 30px;
        padding: 10px 10px;
        border-bottom: 4px solid #8d8d8d;
        font-family: 'Roboto Slab', serif;
        margin:0 3px;
      }
      .pg-categorias nav a.ativo{
        margin:0 3px;
        color:#000;
        border-bottom: 4px solid #000;
      }
      .pg-categorias nav a:hover{
        margin:0 3px;
        color:#000;
        border-bottom: 4px solid #000;
        transition: all linear .3s ;
        -webkit-transition: all linear .3s ;
        -moz-transition: all linear .3s ;
        -o-transition: all linear .3s ;
      }
    .pg-categorias .categoriaDePost{
      padding-top: 50px;
      text-align: center;   
      padding-bottom: 1px;  
    }
      .pg-categorias .categoriaDePost ul{
      }
        .pg-categorias .categoriaDePost ul li{
          list-style: none;
          display: inline-block;
          background: #000;
          margin: 45px 15px;
          border:5px solid #ffffff;
          height: auto;
          width: 100%;
          max-width: 449px;
          vertical-align: top;
          min-height: 490px;
        }
          .pg-categorias .categoriaDePost ul li a{
            text-decoration: none;
            overflow: hidden;
          } 
          .pg-categorias .categoriaDePost ul li a figure {
            position: relative;
            background-position: center!important;
            background-size: cover!important;
          }
          .pg-categorias .categoriaDePost ul li a figure:before{
            content:'';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            display: block;
            background:#04040452;
            z-index: 1;
            opacity: 0;
          }
            .pg-categorias .categoriaDePost ul li a figure .leiaMais{
              display: block;
              opacity: 0;
              width: 100%;
              max-width: 105px;
              height: 40px;
              padding-top: 9px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              text-align: center;
              margin: 0 auto;
              z-index: 8;
              color: #fff;
              text-transform: uppercase;
              font-family: 'Roboto Slab', serif;
              border: 2px solid #fff;
            }
            .pg-categorias .categoriaDePost ul li:hover{
              border: 5px solid #000;
              border-radius: 3px;
            }
            .pg-categorias .categoriaDePost ul li a:hover figure:before{
              opacity: 1;
              transition: all linear .3s;
              -webkit-transition: all linear .3s;
              -moz-transition: all linear .3s;
              -o-transition: all linear .3s;
            }
            .pg-categorias .categoriaDePost ul li a:hover .leiaMais {
              opacity: 1;
              transition: all linear .3s;
              -webkit-transition: all linear .3s;
              -moz-transition: all linear .3s;
              -o-transition: all linear .3s;
              color:#fff;
              background: #000;
              border: 2px solid #fff;
            }
            .pg-categorias .categoriaDePost ul li a figure img{
              width: 100%;
              height: 250px;
              visibility: hidden;
            } 
            .pg-categorias .categoriaDePost ul li a img:hover{
              border-radius: 3px;
            }
            .pg-categorias .categoriaDePost ul li a article {
              padding: 10px;
              text-align: center;
            }
              .pg-categorias .categoriaDePost ul li a article span{
                display: inline-block;
                color: #fff;
                font-family: 'Roboto Slab', serif;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 200;
              }
              .pg-categorias .categoriaDePost ul li a article h2 {
                margin: 0;
                color: #fff;
                font-family: 'Roboto Slab', serif;
                font-size: 26px;
                padding: 10px 0;
                min-height: 104px;
              }
              .pg-categorias .categoriaDePost ul li a article p{
                color: #fff;
                font-family: 'Roboto Slab', serif;
                font-size: 17px;
                font-weight: 100;
                line-height: 20px;
              }
    .pg-categorias .paginador {
      margin-bottom: 30px;
    }
      .pg-categorias .paginador{
        
      }
        .pg-categorias .paginador{

        }
        
          .pg-categorias .paginador a {
            text-decoration: none;
            padding: 10px 15px;
            background: transparent;
            color: #000;
            font-size: 17px;
            border: solid #000 1px;
            margin: 0 5px;
            font-weight: 700;
          }
          .pg-categorias .paginador a:hover{
            background: #000;
            color: #fff;
            transition:All .5s ease;
            -webkit-transition:All .5s ease;
            -moz-transition:All .5s ease;
            -o-transition:All .5s ease; 
          }
          .pg-categorias .paginador a.ativo{
            background: #000;
            color: #fff;
            transition:All .5s ease;
            -webkit-transition:All .5s ease;
            -moz-transition:All .5s ease;
            -o-transition:All .5s ease; 
          }
          .pg-categorias .paginador .esquerda {
                  
          }
          .pg-categorias .paginador .direita {
                  
          }
            .pg-categorias .paginador a i{
        
            }

/*PÁGINA 404 */
  .error404 header {
    display: none;
  }
  .error404 {
    min-height: 500px;
  }
  .pg-404 {
    background-size:cover!important;
    background-position: center!important;
    width: 100%;
    height:100vh;
  } 
    .pg-404 .logo404{
      margin:0 auto;
      padding-top: 20px;
      width: 100%;
      max-width: 182px;
      height: auto;
    }
      .pg-404 .logo404 img{
        
      }
    .pg-404 .row{
      padding-top: 100px;
    }
    .pg-404 .botao {
      width: 300px;
      font-size: 20px;
      display: block;
      margin: 93px auto;
    }
    
      .pg-404 .botao a {
        text-align: center;
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 20px 7px;
        border: 2px solid #fff;
      }
        .pg-404 .botao a:hover{
          color: #fff;
          border: 2px solid #fff;
          transition: All .5s ease;
          -webkit-transition: All .5s ease;
          -moz-transition: All .5s ease;
          -o-transition: All .5s ease;
          background: #ffffff29;
          box-shadow: 0.5px 0.5px 20px 0px #fff;

        }
    .pg-404 col-sm-6 {
      text-align: center;
    }
    .pg-404 small{
      display: block;
      padding-left: 48px;
      font-size: 92px;
      font-weight: 400;
      color: #fff;
      margin: 0 auto;
    }

/* PÁGINA RESULTADO DE BUSCA */
  #resultadoNaoEncontrado {
    margin: 0 auto;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
  }
  #volteParaAPaginaInicial {
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    background-color: #222;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    width: 220px;
    padding: 16px;
    margin: 45px auto;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
  }
    #volteParaAPaginaInicial:hover{
      border:1px solid #000;
      background-color: #fff;
      color: #000;
      transition: all linear .3s;
      -webkit-transition: all linear .3s ;
      -moz-transition: all linear .3s ;
      -o-transition: all linear .3s ;
    }

/*FOOTER*/
  .backToTop{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 1.7%;
    bottom: 2%;
    z-index: 999;
  }
    .backToTop #subir {
      width: 50px;
      height: 50px;
      position: absolute;
      background: #000;
      color: #fff;
      border-radius: 100%;
      border:1px solid transparent;
      text-align: center;
      font-size: 25px;

    } 
    .backToTop #subir:hover {
      border:1px solid #000;
      background: #fff;
      color: #000;
      -webkit-transition: all linear .3s ;
      -moz-transition: all linear .3s ;
      -o-transition: all linear .3s ;
    }
      .backToTop #subir i{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
  .rodape{
    background: url(img/claudio.png);
    text-align: center;
    min-height: 185px;
    padding-top: 37px;
    padding-bottom: 30px;
    background-attachment: fixed;
    position: relative;
  } 
  .rodape:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: #00000087;
  }
    .rodape .redesSociais{
      position: relative;
    }
      .rodape .redesSociais a{
        color: #fff;
        font-size: 35px;
        margin: 0 10px;
        text-decoration: none;
      }
      .rodape .copyright{
        margin-top: 33px;
        position: relative;
      }   
      .rodape .copyright p{
        font-family: 'Roboto Slab', serif;
        color: #fff;
        font-size: 15px;
        text-align: center;
        font-weight: 100;
        margin: 0;
      }       

/*EXTRAS*/
  .containerLargura{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
  .alm-load-more-btn {
    display: none;
  }
  .feedInstagram {
    margin-top: 100px;
    position: relative;
  }
    .feedInstagram .linkInstagram{
      display: block;
      width: 237px;
      height: auto;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      border-radius: 30px;
      padding: 10px 10px;
      color: #000;
      font-size: 19px;
      border: 1px solid transparent;
      font-family: 'Roboto slab', serif;
      vertical-align: middle;
      position: absolute;
      bottom: 20px;
      z-index: 999;
      left: 50%;
      transform: translateX(-50%);
    }
    .feedInstagram .linkInstagram:before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #ffffff78;
      -webkit-filter: blur(0px);
      filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      z-index: -1;
      border-radius: 30px;
      
    }
      .feedInstagram .linkInstagram:hover{
        border:1px solid #000;
        transition: all linear .3s;
        -webkit-transition: all linear .3s ;
        -moz-transition: all linear .3s ;
        -o-transition: all linear .3s ;
      }


/*@MEDIA QUERY*/
  @media(max-width: 1200px){
    .pg-inicial .areaPost ul li{
      margin: 0 7px 16px;
    }
  }
    
  @media(max-width: 1150px){
    .pg-404 small {
     font-size: 75px;
    }
    .pg-inicial .areaPost ul li{
      margin: 0 7px 16px;
    }
  }

  @media(max-width: 991px){
    .logo {
      display: inline-block;
    }
     .menu-fixo {
        
        display: none!important;
       
    }
    .pg-inicial .menuCategorias {
      text-align: center;
    }
    .pg-inicial .container {
      width: 100%;
      padding: 10px;
    }

    .pg-categorias .categoriaDePost ul li {
      width: 49%;
      margin: 32px 0px;
    }
    .pg-post .compartilhar .balao-compartilhar{
      width: 1px;
      height:1px;
      visibility: hidden;
      z-index: -1;
    }
    .pg-404 small {
     font-size: 54px;
     padding: 50px 0px 0px 0px ;
    }
    .pg-post .compartilhar .links-compartilhamento{
      left: -175px;
    }
    .pg-inicial .areaPost ul li{
      margin: 0 4px 16px;
    }
  }
  @media(max-width: 768px){
     body {
      background: initial;
    }
    .rodape{
      background: #000000;
    } 
    .pg-inicial {
      margin-top: 0;
    }
    .logo {
      display: block;
      text-align: center;
    }
    .topo {  
      background-color: #000000!important;
      background-position: top!important;
      background-size: initial!important;
      background-repeat: no-repeat!important;
    }
    .topo .navbar button{
        display: block;
        bottom: 80px;
    }
      .topo .navbar .navbar-header {
        margin-top: 3px;
      }
        .topo .navbar .navbar-header nav ul {
          margin: 0;
        }
        .topo .navbar .navbar-header nav ul li {
          display: block;
          text-align: left;
        }
    .topo .navbar .navbar-header .areaPesquisaMobile {
      width: 30px;
      height: 30px;
      position: relative;
      left: 18px;
    }
    .topo .navbar .navbar-header .areaPesquisaMobile #spanAbrirPesquisaMobile {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
      left: 0;
      z-index: 999;
    } 
    .topo .navbar .navbar-header .areaPesquisaMobile #lupaMobile {
      background: url(img/Group8.png);
      background-repeat: no-repeat;
      background-position: center!important;
      outline: none;
      border:none;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: -19px;
      z-index: 9;
    }

   

    #carrosselDestaqueRight {
      display: none;
    }

    .pg-inicial .areaPost ul li.correcaoLeft {
      margin-right: auto;
    }
    .pg-inicial .areaPost ul li {
      display: block;
      width: 100%;
      float: initial;
      margin: 25px auto;
    }
    .pg-post figure {
      background: transparent!important;
      margin-top: 40px;
      width: 100%;
    }
     .pg-post figure img {
      visibility: visible;
     }

       .pg-categorias .banner{
        padding-top: 46px;
       }
    .pg-categorias .categoriaDePost ul li {
      display: block;
      width: 95%;
      margin: 32px auto;
    }
    .pg-404 small {
      font-size: 46px;
      padding: 50px 0px 0px 43px;
    }
    .topo .areaPesquisa{
      display: none;
    }
    .navbar {
      min-height: 0;
    }
    .pg-post .disqus {
      padding: 0 50px;
    }
  }
  @media(max-width: 600px){
    .pg-404 small {
      text-align: center;
    }
    .pesquisar input::-webkit-input-placeholder  { 
    color:#ccc; 
    font-size: 30px;
    font-family: 'Roboto Slab', serif;

    }
    .pesquisar input[type="text"]{
      font-size: 30px;
    }
    .pesquisar input[type="submit"]{
      height: 30px;
      width: 30px;
    }
  }
  @media(max-width: 492px){
    .pg-404 small {
      font-size: 46px;
      padding: 0;
    }
    .pg-404 .botao {
      width: 250px; 
    }
    .pg-inicial .areaPost ul li .redesSociais {
      display: none;
    }
    .pg-categorias nav a {
      display: inline-block;
      font-size: 25px;
    }
    .rodape{
      min-height: 209px;
      padding-top: 30px;
    }
    .rodape .redesSociais a {
    color: #fff;
    font-size: 30px;
    }
    .pesquisar input::-webkit-input-placeholder  { 
    color:#ccc; 
    font-size: 20px;
    font-family: 'Roboto Slab', serif;

    }
    .pesquisar input[type="text"]{
      font-size: 20px;
    }
    .pesquisar input[type="submit"]{
      height: 30px;
      width: 30px;
    }
  }

  @media(max-width: 425px){
    .pg-inicial .carrosselDestaque .item figure {
      height: 380px;
    }
    
    .pg-post .compartilhar .links-compartilhamento {
      left: -176px;
    }
    .pg-post .autor {
      width: 90%;
    }

    .pg-categorias nav a {
      display: inline-block;
      font-size: 25px;
    }
    .rodape{
      min-height: 209px;
      padding-top: 30px;
    }
    .rodape .redesSociais a {
      color: #fff;
      font-size: 30px;
    }
    .topo .logo img {
      max-width: 125px;
    }
    .topo .navbar button {
      right: 16px;
    }
    .pesquisar input::-webkit-input-placeholder  { 
    color:#ccc; 
    font-size: 20px;
    font-family: 'Roboto Slab', serif;

    }
    .pesquisar input[type="text"]{
      font-size: 20px;
    }
    .pesquisar input[type="submit"]{
      height: 30px;
      width: 30px;
    }
    .topo .navbar .navbar-header{
      margin-top: 21px;
    }
  }

  @media(max-width: 320px){
    .pg-post .compartilhar .balao-compartilhar{
      width: 1px;
      height:1px;
      visibility: hidden;
      z-index: -1;
    }
    .pg-post .compartilhar .links-compartilhamento {
      left: -176px;
    }
    .pg-post .autor {
      width: 90%;
    }
    .pg-categorias nav a {
      display: inline-block;
      font-size: 25px;
    }
    .rodape{
      min-height: 257px;
    }
    .rodape .redesSociais a {
      color: #fff;
      font-size: 30px;
    }
    .rodape .copyright {
      margin-top: 45px;
    }

    .pesquisar input::-webkit-input-placeholder  { 
      font-size: 20px;
    }
    .pesquisar input[type="text"]{
      font-size: 20px;
    }
    .pesquisar input[type="submit"]{
      height: 30px;
      width: 30px;
      position: absolute;
      right: 30px;
      top: 41px;
    }
    .topo .navbar button {
    }
    .topo .logo img {
      margin: 20px auto;
      max-width: 100px;
  }

}